@import "../vars.css";

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

.sidebar_nav {
    background-color: #121212;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar_nav .logo {
    background: #121212;
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar_nav .logo img {
    width: 180px;
    height: 40px;
}

.sidebar nav ul {
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}

.sidebar ul li {
    padding: 10px 0;
    list-style: none;
}

.sidebar nav ul li a {
    color: var(--text-primary);
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}

.sidebar nav ul li a span{
    margin-right: 10px;
}

.library {
    margin-top: 10px;
    background-color: #121212;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 4px 8px;
    color: var(--text-primary);
    font-weight: 600;
    font-size: 12px;
}

.library .library_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.library .library_button {
    margin-right: 10px;
    color: var(--text-primary);
    background-color: transparent;
    border: 0px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;
    display: flex;
    cursor: pointer;
}

.library .library_button .fabook {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300;
    padding-right: 8px;
    
}

.library .library_content .faplus {
    margin: 24px 10px;
    font-size: 15px;
    font-weight: 700;
}

.library .library_content .faplus button{
    cursor: pointer;
    border: 0;
    border-radius: 20px;
    background-color: var(--bg-icon);
    color: var(--text-primary);
    padding: 6px 8px;
}

.library .library_content .faplus button:hover{
    border: 1px solid var(--text-light);
    background-color: var(--text-dark);
}

.playlist {
    display: flex;
    background-color: #242424;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin: 8px 0;
    padding: 16px 20px;
    border-radius: 10px;
}

.playlist .playlist_content {
    display: flex;
    flex-direction: column;
} 

.playlist_content .text {
    padding-bottom: 14px;
    color: #fff;
}

.playlist_content .title {
    font-weight: 700;
}

.playlist_content .subtitle {
    font-weight: 500;
    font-size: 12px;
}

.playlist_content .playlist_button {
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    margin-top: 20px;
    border: 0px;
    width: 113px;
    cursor: pointer;
}

.podcasts {
    display: flex;
    background-color: #242424;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin: 8px 0;
    padding: 16px 20px;
    border-radius: 10px;
}

.podcasts .podcasts_content {
    display: flex;
    flex-direction: column;
} 

.podcasts_content .text {
    padding-bottom: 14px;
    color: #fff;
}

.podcasts_content .title {
    font-weight: 700;
}

.podcasts_content .subtitle {
    font-weight: 500;
    font-size: 12px;
}

.podcasts_content .podcasts_button {
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    margin-top: 20px;
    border: 0px;
    width: 125px;
    cursor: pointer;
}

.sidebar .cookies {
    margin: 25px 20px;
}

.sidebar .cookies a{
    color: #b3b3b3;
    font-weight: 500;
    font-size: 10px;
    text-decoration: none;
    text-transform: none;
}

.sidebar .cookies a:hover{
    text-decoration: underline;
    color: var(--text-primary);
}

.languages .languages_button {
    background-color: transparent;
    border: 1px solid #878787;
    color: var(--text-primary);
    cursor: pointer;
    align-items: center;
    font-weight: bold;
    width: 170px;
    padding: 8px;
    margin: 8px;
    border-radius: 20px;
}